.App {
  height: 100vh;
  width: 100%;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20rem;
  margin: 1rem;
}

.calculadoraContainer {
  width: 25rem;
  height: 38rem;
  padding: 1rem;
  background-color: #99c9ff;
  border-radius: 1rem;
  border: .5rem solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: cente;
  justify-content: center;
}